<div class="card" fmFullHeight>
  <div class="card-block">
    <h4 class="card-title">{{title}}</h4>
    <div class="card-text">
      
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <div class="col">
            <label for="firstName">First Name</label>
            <input formControlName="firstName" class="form-control" name="firstName" type="text">
            <div class="form-control-feedback" [hidden]="!form.get('firstName').touched || form.get('firstName').status == 'VALID'">Please enter a first name.</div>
          </div>
          <div class="col">
            <label for="lastName">Last Name</label>
            <input formControlName="lastName" class="form-control" name="lastName" type="text">
            <div class="form-control-feedback" [hidden]="!form.get('lastName').touched || form.get('lastName').status == 'VALID'">Please enter a last name.</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label for="email">Email</label>
            <input formControlName="email" type="text" class="form-control" name="email">
            <div class="form-control-feedback" [hidden]="!form.get('email').touched || form.get('email').status == 'VALID'">Please enter an email address.</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <div class="btn-toolbar justify-content-between">
              <div class="btn-group btn-group-lg" role="group">
                <button class="btn btn-secondary">
                  Cancel
                </button>
                <button type="submit" class="btn btn-primary">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <button [hidden]="!showBackButton" (click)="goBack()">Go Back</button>
    </div>
  </div>
</div>